/*based on the bootstrap grid*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row-bs {
    margin-right: -15px;
    margin-left: -15px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    display: inline-block;
}
.row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row-no-gutters [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6 {
    float: left;
}
.col-xs-6 {
    width: 100%;
}
.col-xs-5 {
    width: 83.33333333%;
}
.col-xs-4 {
    width: 66.66666667%;
}
.col-xs-3 {
    width: 50%;
}
.col-xs-2 {
    width: 33.33333333%;
}
.col-xs-1 {
    width: 16.66666667%;
}
.col-xs-pull-6 {
    right: 100%;
}
.col-xs-pull-5 {
    right: 83.33333333%;
}
.col-xs-pull-4 {
    right: 66.66666667%;
}
.col-xs-pull-3 {
    right: 50%;
}
.col-xs-pull-2 {
    right: 33.33333333%;
}
.col-xs-pull-1 {
    right: 16.66666667%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-6 {
    left: 100%;
}
.col-xs-push-5 {
    left: 83.33333333%;
}
.col-xs-push-4 {
    left: 66.66666667%;
}
.col-xs-push-3 {
    left: 50%;
}
.col-xs-push-2 {
    left: 33.33333333%;
}
.col-xs-push-1 {
    left: 16.66666667%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-6 {
    margin-left: 100%;
}
.col-xs-offset-5 {
    margin-left: 83.33333333%;
}
.col-xs-offset-4 {
    margin-left: 66.66666667%;
}
.col-xs-offset-3 {
    margin-left: 50%;
}
.col-xs-offset-2 {
    margin-left: 33.33333333%;
}
.col-xs-offset-1 {
    margin-left: 16.66666667%;
}
.col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6 {
        float: left;
    }
    .col-sm-6 {
        width: 100%;
    }
    .col-sm-5 {
        width: 83.33333333%;
    }
    .col-sm-4 {
        width: 66.66666667%;
    }
    .col-sm-3 {
        width: 50%;
    }
    .col-sm-2 {
        width: 33.33333333%;
    }
    .col-sm-1 {
        width: 16.66666667%;
    }
    .col-sm-pull-6 {
        right: 100%;
    }
    .col-sm-pull-5 {
        right: 83.33333333%;
    }
    .col-sm-pull-4 {
        right: 66.66666667%;
    }
    .col-sm-pull-3 {
        right: 50%;
    }
    .col-sm-pull-2 {
        right: 33.33333333%;
    }
    .col-sm-pull-1 {
        right: 16.66666667%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-6 {
        left: 100%;
    }
    .col-sm-push-5 {
        left: 83.33333333%;
    }
    .col-sm-push-4 {
        left: 66.66666667%;
    }
    .col-sm-push-3 {
        left: 50%;
    }
    .col-sm-push-2 {
        left: 33.33333333%;
    }
    .col-sm-push-1 {
        left: 16.66666667%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-6 {
        margin-left: 100%;
    }
    .col-sm-offset-5 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-4 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-3 {
        margin-left: 50%;
    }
    .col-sm-offset-2 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-1 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
        float: left;
    }
    .col-md-6 {
        width: 100%;
    }
    .col-md-5 {
        width: 83.33333333%;
    }
    .col-md-4 {
        width: 66.66666667%;
    }
    .col-md-3 {
        width: 50%;
    }
    .col-md-2 {
        width: 33.33333333%;
    }
    .col-md-1 {
        width: 16.66666667%;
    }
    .col-md-pull-6 {
        right: 100%;
    }
    .col-md-pull-5 {
        right: 83.33333333%;
    }
    .col-md-pull-4 {
        right: 66.66666667%;
    }
    .col-md-pull-3 {
        right: 50%;
    }
    .col-md-pull-2 {
        right: 33.33333333%;
    }
    .col-md-pull-1 {
        right: 16.66666667%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-6 {
        left: 100%;
    }
    .col-md-push-5 {
        left: 83.33333333%;
    }
    .col-md-push-4 {
        left: 66.66666667%;
    }
    .col-md-push-3 {
        left: 50%;
    }
    .col-md-push-2 {
        left: 33.33333333%;
    }
    .col-md-push-1 {
        left: 16.66666667%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-6 {
        margin-left: 100%;
    }
    .col-md-offset-5 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-4 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-3 {
        margin-left: 50%;
    }
    .col-md-offset-2 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-1 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}

.col-full {
    width: calc(100% - 30px);
    margin: auto;
    float: none;
}
.col-fullW {
    width: 100%;
    margin: auto;
    float: none;
}
.col-half {
    width: 49.5%
}
.col-offgrid {
    margin-left: 8.3333333333%;
}
.nopad {
    padding: 0;
}
.nomarg {
    margin: 0;
}