@font-face {
    font-family: "heathergreenRegular";
    src: url(../assets/static/font/heathergreen-regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "PPMori-Regular";
    src: url(../assets/static/font/PPMori-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "PPMori-SemiBold.woff";
    src: url(../assets/static/font/PPMori-SemiBold.woff);
    font-weight: 600;
}


:root {
    --bg: #E8E7E6;
    --padding-nav: 100px;
    --radius: 7px;
}

html, body {
    margin: 0;
}
body {
    position: relative;
    z-index: 1;
    background: var(--bg);
    transition: .5s background;
}

body * {
    font-family: 'PPMori-Regular', sans-serif;
    font-weight: 400;
}

b, strong {
    font-family: 'PPMori-SemiBold', sans-serif;
    font-weight: 600;
}

/*

.loader {
    background: #e1dfd7;
    height: 100vh;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
*/

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
}

#b-b {
    display: none;
}

a.btn-main {
    background: white;
    padding: 15px 35px;
    color: black;
    border-radius: 50px;
    font-size: 14px;
}

button.btn-main {
    background: white;
    padding: 15px 35px;
    color: black;
    border-radius: 50px;
    font-size: 14px;
    border: none;
}

.grid-booking button.btn-main {
    background: black;
    padding: 15px 35px;
    color: white;
    border-radius: 50px;
    font-size: 14px;
    border: none;
}

.hero-classic h1.condensed {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.45));
}

.hero-classic p {
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.45));
}


h1.condensed {
    font-family: 'heathergreenRegular', sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    margin: 0;
    letter-spacing: 1.4px;
    line-height: 1;
    text-align: center;
    padding-bottom: 15px;
    z-index: 2;
}

h2.condensed {
    font-family: 'heathergreenRegular', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    letter-spacing: 1.4px;
    z-index: 2;
}

h3.condensed {
    font-family: 'heathergreenRegular', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    letter-spacing: 1.4px;
    z-index: 2;
}


.hero-home h2,
.hero-home h1 {
    mix-blend-mode: overlay;
}



p.condensed {
    font-family: 'heathergreenRegular', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    letter-spacing: 1.4px;
    z-index: 2;
}

.hero-home {
    color: black;
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-home p {
    max-width: calc(100vw / 1.8);
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.6;
    z-index: 2;
    mix-blend-mode: overlay;
}


.hero-home a.btn-main {
    margin-top: 50px;
    margin-bottom: 10vh;
    z-index: 10;
}


.hero-locale {
    background: #000000;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-locale p {
    max-width: calc(100vw / 1.8);
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.6;
    z-index: 1;
}


.hero-locale.non-attivo {
    background: var(--bg);
    color: black;
    justify-content: center;
    align-items: center;
}

.hero-locale a.btn-main {
    margin-top: 50px;
    margin-bottom: 10vh;
    z-index: 1;
}

.hero-eventi video {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100vh;
}

/* url(#fluted)*/
.glass {
    z-index: 1;
    margin: auto;
    backdrop-filter: contrast(0.9) blur(7px);

    -webkit-backdrop-filter: contrast(0.9) blur(7px);
    height: 80vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-eventi .glass {
    height: 100vh;
}


svg {
    width: 0px;
}

nav.main {
    z-index: 2;
    position: absolute;
    grid-template-columns: 1fr auto 1fr;
    display: grid;
    width: 100vw;
    align-content: center;
    padding-top: 40px;
    color: white;
    padding-bottom: 30px;
    /*border-bottom: 1px solid white;*/
    transition: .2s all;
    border-bottom: 1px solid #cfcfcf;
    mix-blend-mode: difference;
    background: transparent;
}


.main_home {
    mix-blend-mode: initial !important;
}

nav.main:not(.main_home) {
    border-bottom: 1px solid #373737;
}

nav.main:not(.main_home) li,
nav.main:not(.main_home) li a {
    color: #c3c1c1!important;
}

nav.main:not(.main_home) li a.btn_disabled {
    color: #434343 !important;
}

nav.main:not(.main_home) img{
    filter: invert(1);
}

a:not(.btn_disabled) .nav-help {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    background: #666666;
    border-radius: 50%;
    margin-right: 4px;
    margin-bottom: 1px;
    margin-left: 5px;
    opacity: 0;
    transition: .2s all;
}

.active .nav-help {
    opacity: 1!important;
}

.btn_disabled {
    color: gray!important;
    cursor: not-allowed;
}

a.btn_disabled .nav-help {
    padding-left: 15px;
}



nav.main .nl li,
nav.main a {
    color: #464646;
}

nav.main a:hover span {
    opacity: 1;
    transition: .2s all;
}

nav.main .nl{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-left: var(--padding-nav);
}
nav.main .nl {
    justify-self: start;
}

nav.main .nl li:not(:first-child) {
    padding-left: 22px;
}

nav.main .nc {
    justify-self: center;
}

nav.main .nc img {
    width: 110px;
}

nav.main .nr {
    justify-self: right;
    align-self: center;
    padding-right: var(--padding-nav);
}

nav.main .nr a{
    color: black;
}




section {
    background-color: var(--bg);
    text-align: center;
}


p.sub {
    color: #7E7E7E;
    margin-bottom: 0;
}


p.pi {
    font-size: 18px;
    line-height: 1.6;
    max-width: 30%;
    display: inline-block;
}

p.piw {
    font-size: 18px;
    line-height: 1.6;
    max-width: 60%;
    display: inline-block;
}


.separator {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #cfcfcf;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.separator * {
    padding-left: 20px;
    padding-right: 20px;
}

.separator.separator-contatti {
    padding-bottom: 0;
}

.row-locali {
    display: grid;
    grid-template-columns: minmax(20vw, 28vw) minmax(20vw, 28vw) minmax(20vw, 28vw);
    gap: 2vw;
    justify-content: center;
    align-content: stretch;
}


.row-locali a {
    color: white;
    background: #000000;
    margin-top: 60px;
    margin-bottom: 100px;
    background-position: center center;
    background-size: cover;
    animation-name: fade-top-small;
    border-radius: var(--radius);
}

.row-locali a h3 {
    text-transform: uppercase;
    padding-top: 400px;
    margin-bottom: 0;
}

.row-locali a p {
    margin-top: 2px;
}

.row-locali a small {
    padding-bottom: 40px;
    width: 60%;
    font-size: 13px;
    padding-top: 10px;
    display: inline-block;
}


.home-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top 650px;
    height: 120vh;
}

.home-2 {
    height: 50vh;
}

.block-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-scroll {
    background: white;
    border: 1px solid rgb(255 255 255);
}

.hero-home .vertical-scroll {
    background: #414141;
    border: 1px solid rgb(94 94 94);
    z-index: 2;
    mix-blend-mode: difference;
}

.conttatti-body {
    margin-bottom: 10vh;
}

.conttatti-body p.piw  {
    margin-bottom: 50px;
}

.link-muted-alt {
    text-decoration: underline;
    color: gray;
}


footer {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg);
    transition: .5s all;
}

footer aside {
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

footer div {
    border: 1px solid #181820;
    padding: 40px 80px 90px;
    background: #1E1E26;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer li a {
    color: white;
    font-family: 'PPMori-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

footer li a:hover {
    text-decoration: underline;
    color: white;
}

footer li a.disabled {
    cursor: not-allowed;
    color: #b3b3b3;
}


footer li:first-of-type {
    font-size: 13px;
    padding-bottom: 7px;
}

footer div:nth-child(n+4):nth-child(-n+6){
    height: 68vh;
}

footer div:nth-child(1) {
    border-top-left-radius: 20px;
    transition: .5s all;
}

footer div:nth-child(3) {
    border-top-right-radius: 20px;
    transition: .5s all;
}

.frascolone {
    width: 85vw;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 1700px;
    max-height: 80vh;
}

.footer-expand {
    max-width: 100%;
    transition: .5s all;
}

footer.footer-expand div:nth-child(1) {
    border-top-left-radius: 0;
    transition: .5s all;
}

footer.footer-expand div:nth-child(3) {
    border-top-right-radius: 0;
    transition: .5s all;
}




.hero-classic {
    background: #e8e7e6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position: top -30vh left 0;
}


.hero-classic p {
    max-width: calc(100vw / 1.8);
    text-align: center;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.6;
    z-index: 2;
}

.video-container {
    overflow: hidden;
}

.hero-classic video:not(.short-video) {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 100vw;
    height: 80vh;
    object-fit: cover;
}

.hero-classic.half-classic video {
    margin-top: -15vh;
}

.hero-classic.half-classic .glass {
    margin-top: -15vh;
}


.hero-classic a.btn-main {
    margin-top: 50px;
    margin-bottom: 10vh;
}

.hero-classic-prenota select {
    margin-top: 50px;
    padding: 20px;
    border: none;
}

.hero-classic-prenota button.btn-main {
    margin-top: 20px;
    margin-bottom: 10vh;
    cursor: pointer;
}

.hero-classic-prenota form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-classic-contatti {
    background: #1e1e26;
    height: 30vh;
}

.hero-classic-contatti h1.condensed {
    margin-bottom: 5vh;
}


@keyframes scroll_1 {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-0.6em); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(0.6em); }
    100% { transform: translateY(0); }
}

.scroll-icon__wheel-outer {
    display: block;
    position: absolute;
    left: 50%;
    top: .6em;
    height: 1em;
    width: 0.3em;
    margin-left: -0.1em;
    border-radius: .4em;
    overflow: hidden;
}

.scroll-icon__wheel-inner {
    display: block;
    height: 80%;
    width: 80%;
    border-radius: inherit;
    background: #656565;
    animation: scroll_1 2.75s ease-in-out infinite;
}


.scroll-icon {
   display: block;
   position: relative;
   height: 3em;
   width: 1.5em;
   border: .20em solid #4e4e4e;
   border-radius: 1em;
}

.scroll-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.scroll-block p {
    margin-top: 10px;
    color: #4e4e4e;
    font-size: 15px;
}

.hero-classic .vertical-scroll {
    mix-blend-mode: difference;
    opacity: 70%;
    z-index: 2;
}

.short-video {
    max-height: 50vh;
    margin-top: 50px;
    margin-bottom: 10vh;
    border-radius: var(--radius);
}

.grid-partners {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    /* width: 100%; */
    max-width: 1300px;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 20px;
}

.grid-partners img {
    width: 100%;
    border-radius: var(--radius);
    filter: grayscale(1);
    transition: .25s filter;
}

.grid-partners img:hover {
    filter: grayscale(0);
}

.grid-cucina {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    display: grid;
    /* width: 100%; */
    max-width: 1600px;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 90px;
}

.grid-cucina img {
    width: 100%;
    border-radius: var(--radius);
}

.grid-cucina img:nth-of-type(1),
.grid-cucina img:nth-of-type(5) {
    margin-top: 10vh;
}

.grid-cucina img:nth-of-type(2),
.grid-cucina img:nth-of-type(4){
    margin-top: 5vh;
}

.grid-cucina img:nth-of-type(6){
    display: none;
}




.grid-locale {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    /* width: 100%; */
    max-width: 1300px;
    gap: 20px;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 10vh;
    margin-top: 100px;

}

.grid-locale img {
    width: 100%;
    border-radius: var(--radius);
}

.grid-locale img:nth-of-type(1),
.grid-locale img:nth-of-type(3) {
    margin-top: 10vh;
}

.grid-contatti {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-contatti .contatti-col:nth-of-type(1),
.grid-contatti .contatti-col:nth-of-type(2) {
    border-right: 1px solid #cfcfcf;
}

.contatti-col {
    padding: 70px;
}


.contatti-map {
    border-radius: 50%;
    max-width: 200px;
    margin: 20px
}

.contatti-wig {
    padding: 25px 0 40px;
}

.contatti-space {
    margin-top: 60px !important;
}


.fh {
    height: 50vh;
}

.fhc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-links a{
    font-family: 'heathergreenRegular', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    letter-spacing: 1.4px;
    line-height: 1;
    padding: 43px 10px;
    border-top: 1px solid #cfcfcf;
    transition: .2s all;
}
.grid-links a:not(:nth-of-type(4)){
    border-right: 1px solid #cfcfcf;
}
.grid-links a:hover {
    background: #1e1e26;
    color: white;
}

#m {
    position: absolute;
    background: white;
    width: 60vw;
    height: 100vh;
    left: -60vw;
    transition: .5s left;
    z-index: 11;
}

#m.extended {
    left: 0;
}

#m .close {
    padding-left: var(--padding-nav);
    padding-top: 40px;
}

.l {
    cursor: pointer;
}

.m-foot {
    position: absolute;
    bottom: 50px;
    /* display: flex; */
    padding-left: var(--padding-nav);
    justify-content: center;
    border-top: 1.5px solid #b5b5b5;
    width: calc(100% - var(--padding-nav));
    padding-top: 40px;

}

.m-foot a {
    padding-right: 20px;
}

.anima {
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

#m ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding-left: var(--padding-nav);
    margin-top: 20vh;
}

#m ul a {
    font-family: 'heathergreenRegular', sans-serif;
    text-transform: uppercase;
    font-size: 90px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1.4px;
}

#m ul a.secondary {
    display: none;
}



#cc-main .cc--anim .cm {
    font-size: 13px!important;
    border-radius: 0!important;
    box-shadow: none!important;
    border: 1px solid #d9d9d9!important;
}

.onlym {
    display: none!important;
}

.main_locale {
    filter: invert(1) invert(1);
    mix-blend-mode: screen!important;
}


#cc-main .cm__btn {
    border-radius: 0!important;
}

#cc-main .cm__btn:not(.cm__btn--secondary) {
    background: #1E1E26!important;
}

#cc-main .cm__btn--secondary {
    background: #fafafa!important;
}

.grid-booking {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    align-items: flex-start;
    padding-bottom: 1.25rem;
    width: 100%;
    margin: 2rem 0;
}

.grid-booking .card {
    background: #ffffff;
    border-radius: var(--radius);
    padding: 2rem;
}

.grid-booking .card form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    width: 100%;
}

@keyframes fade-left-small {
    0% {
        opacity: 0;
        transform: translateX(-10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fade-right-small {
    0% {
        opacity: 0;
        transform: translateX(10px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fade-top-small {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fade-bottom-small {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@media (min-width: 1024px) and (max-height: 850px) {
    .hero-home {
        height: 95vh;
    }

    .hero-home h2, .hero-home h1 {
        margin-top: 30vh;
    }

    .home-1 {
        height: 160vh;
    }

    .home-2 {
        height: 80vh;
    }

    .hero-classic h1.condensed {
        margin-top: 20vh;
    }

    .glass {
        height: 90vh;
    }

    .hero-classic video:not(.short-video) {
        height: 90vh;
    }

    .hero-classic {
        height: 105vh;
    }

    .fh {
        height: 80vh;
    }
}


/* =========================
   BOOKING FORM STYLES
========================= */

.booking-main {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.card {
    background: #ffffff;
    border-radius: var(--radius);
    padding: 2rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.grid-booking form label {
    font-size: 0.875rem;
    margin-top: 0.75rem;
}

.grid-booking form input,
.grid-booking form select,
.grid-booking form textarea {
    width: 100%;
    padding: 0.75rem 0.875rem;
    border-radius: 0.375rem;
    border: 1px solid #dcdcdc;
    font-size: 0.875rem;
    box-sizing: border-box;
}

.grid-booking form textarea {
    resize: vertical;
}

.grid-booking form input:focus,
.grid-booking form select:focus,
.grid-booking form textarea:focus {
    outline: none;
    border-color: #1e1e26;
}

.muted {
    color: #6f6f6f;
    font-size: 0.875rem;
    line-height: 1.6;
}

.flash {
    padding: 0.9375rem 1.25rem;
    border-radius: 6px;
    margin-bottom: 1.25rem;
    font-size: 0.875rem;
}

.flash.success {
    background: #e6f6ea;
    color: #1f7a3f;
    border: 1px solid #b6e2c5;
}

.flash.error {
    background: #fdeaea;
    color: #a12626;
    border: 1px solid #f5c2c2;
}

fieldset label {
    display: block;
    margin-bottom: 0.375rem;
    font-size: 0.875rem;
}

fieldset input[type="checkbox"] {
    margin-right: 0.375rem;
}
